extends layout 

block main 
  form(action=`/movies/update/${id}` method="post")
    dl
      dt
        label(for="title") Edit the title of the movie:
      dd
        input(type="text"
              id="title"
              name="title"
              placeholder="Title"
              value=title)
      dt
        label(for="year") Edit the movie's year of release:
      dd
        input(type="text"
              id="year"
              name="year"
              placeholder="Release Year"
              value=year)
      dt
        label(for="runTime") Edit the movie's run time:
      dd
        input(type="text"
              id="runTime"
              name="runTime"
              placeholder="Run time"
              value=runTime)

    fieldset.actions
      input(type="submit" value="Update Movie")
      input(type="reset", value="Clear Form")
