extends layout 

block main 
  if oops != undefined 
    p Sorry, something broke! Please try again  
    
  p Here is your selected review:
    table
      tbody
        tr
          td 
            b Movie Title: 
            | #{review.movie_title}
        tr
          td 
            b Reviewed by: 
            | #{review.reviewer} 
        tr
          td 
            b Grade: 
            | #{review.grade}
        tr
          td 
            b Comments: 
            | #{review.comments} 

    
  form(action=`/reviews/update/${review.id}` method="get")
    button Edit review  
  form(action=`/reviews/delete/${review.id}` method="post")
    button(type="submit") Delete Review

    block footer